/* 🌞 Tema claro */
body[data-theme="light"] {
  --bg-color: linear-gradient(135deg, #b7c3d8, #41536d);
  --card-color: #ffffff;
  --text-color: #1b1b1b;

  --primary: #4d8bff;
  --primary-dark: #2f6fff;

  --input-bg: #f7faff;
  --input-border: #c9d7ee;
  --input-focus-bg: #eef4ff;
  
}

/* 🌙 Tema oscuro */
body[data-theme="dark"] {
  --bg-color: linear-gradient(135deg, #102342, #00040a);
  --card-color: #1a1f27;
  --text-color: #ffffff;

  --primary: #4d8bff;
  --primary-dark: #2f6fff;

  --input-bg: #2f3f66;
  --input-border: #34518a;
  --input-focus-bg: #25345a;
}

/* No cambiar */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}